#title {
    background-color: #000000eb;
    color: #fff;
}

  
body {
    color: Montserrat;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
h2 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
}
h3 {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}
.p2 {
    color: #8f8f8f;
}
.container-fluid {
    background-color: #1e1e1e;
    padding: 3% 15% 7%;
}
.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar {
    padding: 0 0 4.5rem;
}
.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
}
.download-button {
    margin: 5% 3% 5% 0;
}
.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}
#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}
.feature-box {
    text-align: center;
    padding: 5%;
}
.circles {
    color: #313131;
    margin-bottom: 1rem;
}
.circles:hover {
    color: #100d0d;
}
#testimonials {
    text-align: center;
    background-color: #313131;
    color: #fff;
}
.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item {
    padding: 7% 15%;
}
#press {
    background-color: #313131;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}
.price-h2 {
    color: black;
}
#pricing {
    padding: 100px;
    text-align: center;
}
.pricing-tag {
    padding: 3% 2%;
}
@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .title-image {
        transform: rotate(0);
        position: static;
    }
}
#cta {
    background-color: #1e1e1e;
    text-align: center;
    padding: 7% 20%;
}
#footer {
    text-align: center;
    color: #fff;
    padding: 6% 20%;
}
.copy {
    color: #8f8f8f; 
}
.ft-icons {
    color: black;
    margin: 5% 2%;
}
.db2 {
    margin: 5% 2%;
}






*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    background: #000;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;

}
.footer{
    background: #24262b;
    padding: 70px 0;
}
.footer_col{
    width: 25%;
    padding: 0 15px;
}
.footer_col h4{
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer_col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer_col ul li:not(:last-child){
    margin-bottom: 10px;

}
.footer_col ul li a{
    font-size: 16px;
    color: #bbb;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer ul li a:hover{
    color: #fff;
    padding-left: 8px;
}
.footer .social_links{
    display: inline-block;
    height: 40px;
    width: 40px;
    background: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    color: #fff;
    transition: all 0.3s ease;
}
.footer_col .social_links a:hover{
    color: #24262b;
    background: #fff;

}
@media(max-width: 767px){
    .footer_col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 564px){
    .footer_col{
        width: 100%;
        margin-bottom: 30px;
    }
}
.middle{
    background-color: #c1dfdc;
    border-top: 1px solid rgb(8, 7, 8);
    font-size: 17px;
    padding: 15px 5px;
    text-align: center;
}
.middleheading{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(14, 13, 13);
    font-size: 2.5rem;
    font-weight: bold;
}
.card{
    color: rgb(10, 9, 9);
    border-radius: 20px;
    background-color: #252323;
}
.Person{
    text-align: center;
    border-radius: 40px;
    display: block;
}

.carousel{
 width:1040px;
}
.info{
    text-align: center;
    align-items: flex-end;
}