@import url('https://fonts.gooogleapis.com/css2?family=poppins&display=swap');
.container {
    text-align: center;
    background: rgb(15, 15, 15);
    width: 350px;
    height: 450px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 2em;
}

.heading {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    /* text-align: center;
    font-size: 2em;
    margin-bottom: 0.5em; */
}

.box {
    border-radius: 4px;
    text-align: center;
    margin: 0.2em;
}

.container .box p {
    text-align: center;
    color: white;
}

.container.box div {
    position: relative;
    width: 100%;
    height: 40px;
    margin: 0.5em 0;
}

.container.box input {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(19, 19, 19);
    color: white;
    border: none;
    outline: none;
    padding-left: 0.8em;
    border-radius: 10px;
    transition: all .4s
}

.container.box input:focus::placeholder {
    color: white;
}

.container.box div::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
    width: 102%;
    height: 105%;
    border-radius: 10px;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
}

.text{
    font-size: 0.8em;
    margin-top: 0.5em;
    text-align: center;
    color: rgba(255, 255, 255, 0.623);
}

.text a {
    color: rgba(255, 255, 255, 0.911);
}
.carousel-control-prev-icon {
    color: black;
    background: black;
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e);
}
.carousel-control-next-icon {
    color: black;
    background: black;
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
}